<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Admin</title>
    <link href="/css/admin.css" rel="stylesheet" media="all">
</head>
<body>
<div class="wrapper">
    <div class="head">
        <h1>Blog admin</h1>
    </div>
    <div class="wr2">
        <div class="content">
            {% if message is defined %}
                <div class="message error">{{ message }}</div><br>
            {% endif %}
            <form class="login" action="?auth=login" method="post">
                <label>Логин</label> <input type="text" name="name"/><br>
                <label>Пароль</label> <input type="password" name="pwd"/><br>
                <input type="submit" value="Войти"/>
            </form>
        </div>
    </div>
    <div class="footer">
        &copy; Админпанель
    </div>
</div>
</body>
</html>