{% extends 'admin/main.html' %}

{% block body %}
    <a href="{{ add_href }}" class="button">Добавить категорию </a>
    {% if data|length > 0 %}
        <ul>
            {% for item in data %}
                <li>{{ item.title }} &nbsp;
                    <small><a href="{{ item.b_edit }}">Редактировать</a> | <a href="{{ item.b_delete }}">Удалить</a> |
                        <a href="{{ item.b_articles }}">Публикации</a></small>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="message info">Нет ни одной категории...</div><br>
    {% endif %}
{% endblock %}